@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --img-width: 409px;
    --img-height: 426px;
    --box-color:#F5F5F5;
    --pagination:#EFEFEF;

}

*, *::before, *::after{
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif !important;
}

ul {
    margin:0;
    padding:0;
}

body a {
    text-decoration:none;
}

.active {
    background-color:#000!important;
}

.brandselectors{
    background:none!important;
    background-image:url(./images/select.png)!important;
    background-repeat:no-repeat!important;
    background-position:95% !important;
    background-size:1.2em!important;  
    
    background-color:var(--box-color)!important;
    border:none!important;
    outline:none!important;
}

.brandselectors:focus,
.searchinputs:focus 
{
    box-shadow:none!important;
    border:none!important;
    outline:none!important;
}

.searchinputs{
    background:none!important;
    background-image:url(./images/searchicon.png)!important;
    background-repeat:no-repeat!important;
    background-position:95% !important;
    background-size:1.2em!important;  
    
    background-color:var(--box-color)!important;
    border:none!important;
    outline:none!important;
}

@media screen and (max-width:1100px){
    .searchbox{
        width:90% !important;
    }    
}

@media screen and (max-width:760px){
    .searchbox{
        width:100% !important;
    }
}


@media screen and (max-width:495px){
    .navitemsexplore{
        font-size:0.7em !important;
    }
}

@media screen and (max-width:320px){
    .navitemsexplore{
        font-size:0.5em !important;
    }
}

.paginations {
    background-color:var(--pagination)!important;
}

.activepage {
    background-color:#000!important;
    color:#fff!important;
}
.cardimgs {
    position:relative;
}

.edit {
    background-color:var(--pagination);
    padding:2px 10px;

    border-radius:5px;
    
    position:absolute;
    top:25px;
    left:25px;    

    font-weight:bold;
}

.edit span {
    text-decoration:underline;
}