@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --img-width: 409px;
    --img-height: 426px;
    --box-color:#F5F5F5;
}

*, *::before, *::after{
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif !important;
}

ul {
    margin:0;
    padding:0;
}

body a {
    text-decoration:none;
}

.active {
    background-color:#000!important;
}

@media screen and (max-width:495px){
    .navitemsexplore{
        font-size:0.55em !important;
    }
}

.verticalline{
    width:1px;
    height:100%;    

    background-color:red;
}

.backlinks{
    display:flex;
    align-items:center;
}